/*
 * Title:   Custom Style File
 * Author:  http://themeforest.net/user/soaptheme 
 */

 .sweet-alert {
      width: 380px;

     margin-left:-110px;
 
} 

 .sweet-alert {
   margin-top: -20px;
       } 
.sweet-alert h2 {
    color: #575757;
    font-size: 13px;
    text-align: center;
    font-weight: 400;
    text-transform: none;
    position: relative;
    margin: 35px 0;
    padding: 0;
    line-height: 0px;
    display: block;
margin-top:32px;
 }
  .sweet-alert p {
    color: #797979;
    font-size: 16px;
    text-align: center;
    font-weight: 300;
    position: relative;
    text-align: inherit;
    float: none;
    margin: 0;
    padding: 0;
    line-height: normal;
    
 }
.sweet-alert button {
  margin-top: -60px;
 /* width: 20px;
  text-align: center;*/
}

.sweet-alert .sa-icon.sa-success .sa-placeholder{
width:40px;
height:40px;
left: 12px;
top: 1px;
border-color: #a5dc86;

}

/*.sweet-alert .sa-confirm-button-container .confirm{
margin-top: -60px;
  width: 20px;
  text-align: center;
}*/

.sweet-alert .sa-icon.sa-warning{
  width : 40px;
  height : 40px;
margin-top:-10px;
}
.sweet-alert .sa-icon.sa-warning .sa-body
{
height:14px;
}
.sweet-alert .sa-icon.sa-warning .sa-dot
{
height:4px;
}


.sweet-alert .sa-confirm-button-container {

padding-right: 15px;
padding-left: 15px;
}
.sweet-alert button
{
font-size: 17px;
font-weight: 400;
border-radius: 15px;
padding: 0px 15px;

}
.sweet-alert .sa-icon.sa-success {
    border-color: white;
}
.sweet-alert .sa-icon {
    width: 80px;
    height: 80px;  
    margin: -15px auto;
    
}
.sweet-alert .sa-icon.sa-success .sa-fix {
    width: 1px;
    height: 600px;
    background-color: white;
}


.sweet-alert .sa-icon.sa-success .sa-line.sa-tip {
    width: 16px;
    left: 21px;
    top: 25px;
}
.sweet-alert .sa-icon.sa-success .sa-line.sa-long {
    width: 22px;
    right: 28px;
    top: 22px;
}