
<div class="page-title-container">
            <div class="container">
                <div class="page-title pull-left">
                    <h2 class="entry-title" style="font-size: 0.37em; !important" id="moLabel">More About Bukate</h2>
                </div>
                <ul class="breadcrumbs pull-right">
                    <li><a ng-click="nagivatehome()" id="homeLabel">HOME</a></li>
                     <li class="active" id="othrLabel">Others</li>
                </ul>
            </div>
        </div>
<section id="content">
            <div class="container">
            <br>

                <div id="">
                    <div class="tab-container style1 travelo-policies">
                        
                        <div class="tab-content">
                            <div id="terms-services" class="tab-pane fade in active">
                                <div class="alert alert-notice">
                                   <p id="AbusLabel"> About Us </p>
                                    
                                </div>
                                <div class="policy">
                                    
                                    <h4 id="AboutbukateparagraphLabel">Bukate is the first online bus ticket booking platform in Panama. Passengers will be able to look up for routes, compare the different schedules, and secure their seat before arriving. In this way, passengers would skip the long lines to buy the bus ticket and secure their seats before reaching to the bus terminal. Bukate objective is to improve the passenger’s life quality and at the same time to provide a better trip experience.</h4>
                                <hr>
                               
                                
                                
                                
                               
                                
                            </div>
                           
                        </div>
                    </div>
                </div>
            </div>
            <br>
        </section>