<section id="content" class="gray-area">
            <div class="container">
                <div class="row"><br>
                    <div class="col-sm-12 col-md-9">
                        <div class="booking-information travelo-box">
                            <h2 ng-bind="errorheaderLabel">Error !!!</h2>
                            <hr />
                            <div class="booking-confirmation clearfix">
                                <i class="soap-icon-recommend icon circle"></i>
                                <div class="message" >
                                    <h4 class="main-message" ng-bind="errorMessageLabel">Application is temporary unavailable .Please try after some time </h4>
                                    
                                </div>
                                <a ng-click="nagivatehome()" class="print-button button btn-small yellow" ng-bind="errorLabel">Go to Home</a>
                            </div>
                            <hr />
                            </div></div></div></div>
                            <br>  <br>  <br>  <br>  <br>  <br>  <br>  <br>  <br>  <br>  <br>  <br>  <br>  <br>  <br>  <br>  <br>  <br>  <br>  <br>  <br>  <br>  <br>  <br>  <br>
                            </section>