
<div class="page-title-container">
            <div class="container">
                <div class="page-title pull-left">
                    <h2 class="entry-title" style="font-size: 0.37em; !important" id="moLabel">More About Bukate</h2>
                </div>
                <ul class="breadcrumbs pull-right">
                    <li><a ng-click="nagivatehome()" id="homeLabel">HOME</a></li>
                     <li class="active" id="othrLabel" >Others</li>
                </ul>
            </div>
        </div>
<section id="content">
            <div class="container">
            <br>

                <div id="">
                    <div class="tab-container style1 travelo-policies">
                        
                        <div class="tab-content">
                            <div id="terms-services" class="tab-pane fade in active">
                                <div class="alert alert-notice">
                                   <p id="freLabel">Frequently Asked Questions </p>
                                    
                                </div>
                                <div class="policy">
  

<h4 id="iLabel" >Do I need to register to use Bukate?</h4>
<p id="nlLabel" >No, Bukate does not require registration to buy a bus ticket. </p><br>

<h4 id="bsLabel1">How can I buy a bus ticket with Bukate?</h4>
<p id="youLabel">You must select the place of departure, the destination and date of departure and if you want to return. Then you must
select the available route and the desired bus seat. Once the information is entered
The passenger will have the option to pay by credit card or cash. After making the payment,
the bus ticket will be sent to your email and you will be ready to avoid the rows and go
Direct to the bus.</p><br>
<h4 id="hoLabel">How can I pay for my ticket?</h4>
<p id="yo1Label">You will be able to pay your bus ticket with credit card or cash.</p><br>

<h4 id="cnLabel">Can I buy a ticket for another person?</h4>
<p id="yuLabel">Yes, you can. You should type the passenger details and introduce the email you would like to receive the bus ticket.</p><br>  

<h4 id="whtLabel">What to do if you lose your bus ticket?</h4>
<p id="yshLabel">You should have a copy of your bus ticket in your email. If not, you should contact our customer support service and they will be happy to help you.</p><br>

<h4 id="ujLabel">What to do if your bus ticket wasn’t send?</h4>
<p id="yhgLabel">You should contact right away our customer support service and they will be happy to help you. 2222-2222</p><br>

<h4 id="canLabel">Can I cancel my bus ticket?</h4>
<p id="klLabel">Cancelation or refund is not permitted. </p><br>


<h4 id="canjLabel">Can I change my schedule once I have purchased my bus ticket?  </h4>
<p id="kjLabel">Once you purchased the bus ticket bukate would not be able to change it. In that case you should contact the bus company provider of your trip. </p><br>

<h4 id="iklLabel"><b>Questions to answer:</b></h4><br>

<h4 id="kmlLabel">What to do if you lose the bus?</h4><br>
<h4 id="whdLabel">What to do if the bus leaves before the time provided by the ticket?</h4>

                                
                               
                                
                            </div>
                           
                        </div>
                    </div>
                </div>
            </div>
            <br>
        </section>