<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <meta name="description" content="">
    <meta name="author" content="">
    <link rel="icon" href="images/favicon.ico">
	
    <title> Emailer </title>

	<link href="https://fonts.googleapis.com/css?family=Open+Sans:300,400,600,700,800" rel="stylesheet">
  </head>
  <body style="background:#ccc;">
	<table style="max-width:600px; width:100%; margin:60px auto; border:none;" cellpadding="0" cellspacing="0">
		<tr>
			<td style="text-align:center;">
				<div style="display:inline-block; vertical-align:middle; width:100px; height:100px; padding: 10px; border-radius:100%; -webkit-border-radius:100%; background:#fff; margin-bottom: -30px;position: relative; box-shadow: rgba(0,0,0,0.2) 0 1px 11px 0; -webkit-box-shadow: rgba(0,0,0,0.2) 0 1px 11px 0;">
					<img src="http://52.14.228.208:4000/images/logo/logo.png" alt="" style="max-width:100%; padding-top:35px;"/>
				</div>
			</td>
		</tr>
		<tr>
			<td style="background:#fff; border-radius:5px; -webkit-border-radius:5px; padding:60px 20px; text-align:center;">
				<h1 style="font-family: 'Open Sans', sans-serif; font-size:30px; color:#121212; font-weight:700; margin:0 0 15px; line-height:1;">Hello <%=username%></h1>
				<p style="font-family: 'Open Sans', sans-serif; font-size:20px; color:#444; font-weight:400; margin:0 0 20px; line-height:1.5;">
					Welcome to bukate
				</p>
				<p style="font-family: 'Open Sans', sans-serif; font-size:15px; color:#444; font-weight:400; margin:0 0 20px; line-height:1.5;">
					About Bukate
Bukate is your online ticket provider to travel to the interior of Panama. Our reservation system allows 
you to search for the itineraries and desired destinations at the most convenient price.As bus admin you can do the following activites Manage Vehicle,Route,Customers,Reports

				</p>
				<p style="font-family: 'Open Sans', sans-serif; font-size:20px; color:#444; font-weight:400; margin:0; line-height:1.5;">
					Details for accessing application are as below</span>
				</p>
				</p>
				<p style="font-family: 'Open Sans', sans-serif; font-size:20px; color:#444; font-weight:400; margin:0; line-height:1.5;">
					user email : <%=email%></span>
				</p>
				<p style="font-family: 'Open Sans', sans-serif; font-size:20px; color:#444; font-weight:400; margin:0; line-height:1.5;">
					Pass : <%=password%></span>
				</p>
				<br><br>
				<p style="font-family: 'Open Sans', sans-serif; font-size:15px; color:#444; font-weight:400; margin:0; line-height:1.5;">
					Regards,</span>
				</p>
				<p style="font-family: 'Open Sans', sans-serif; font-size:15px; color:#444; font-weight:400; margin:0; line-height:1.5;">
					Bukate  Support Team,</span>
				</p>
				<p style="font-family: 'Open Sans', sans-serif; font-size:15px; color:#444; font-weight:400; margin:0; line-height:1.5;">
					00012333 | hola@bukate.com</span>
				</p>
			</td>
		</tr>
		<tr>
			<td style="text-align:center; padding:20px 0 0;">
				
			</td>
		</tr>
	</table>
  
  
  </body>
</html>