<!doctype html>
<html>
<head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <title>Change Password</title>
    <meta name="description" content="">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <link rel="apple-touch-icon" href="apple-touch-icon.png">
    <link href="https://fonts.googleapis.com/css?family=Open+Sans:400,600,700|Work+Sans:400,600,700">
    <style>
        html,
        body{margin: 0;}
    </style>
</head>
<body>
    <div style="max-width: 600px; width: 100%; margin: 0 auto; overflow: hidden; color: #919191; font:400 16px/26px 'Open Sans', Arial, Helvetica, sans-serif;">
        <header style="width: 100%; float: left; padding: 30px 0; -webkit-box-sizing: border-box; -moz-box-sizing: border-box; box-sizing: border-box;">
            <strong style="float: left; padding: 0 0 0 30px; -webkit-box-sizing: border-box; -moz-box-sizing: border-box; box-sizing: border-box;"><a style="float: left; color: #55acee; text-decoration: none;" href="javascript:void(0);"><img style="display: block;" src="http://52.14.228.208:2000/images/mail/logo.png" alt="image description"></a></strong>
            
        </header>
        <div id="tg-banner" class="tg-banner" style="width: 100%; float: left; -webkit-box-sizing: border-box; -moz-box-sizing: border-box; box-sizing: border-box;"><img style="width: 100%; height: auto; display: block;" src="http://52.14.228.208:2000/images/mail//img-01.jpg" alt="image description"></div>
        <div style="width: 100%; float: left; padding: 30px 30px 0; -webkit-box-sizing: border-box; -moz-box-sizing: border-box; box-sizing: border-box;">
            <div style="width: 100%; float: left; padding: 0 0 60px; -webkit-box-sizing: border-box; -moz-box-sizing: border-box; box-sizing: border-box;">
                <h1 style="margin: 0; font-size: 20px; line-height: 20px; -webkit-box-sizing: border-box; -moz-box-sizing: border-box; box-sizing: border-box; color: #333; font-weight: normal;font-family: 'Work Sans', Arial, Helvetica, sans-serif;">Hi, <%=username%></h1>
            
                <div style="width: 100%; float: left; -webkit-box-sizing: border-box; -moz-box-sizing: border-box; box-sizing: border-box;">
                    <p> Password changed successfully.Your new password is as below.
                     </p>
                    <ul style="margin: 0; width: 100%; float: left; list-style: none; font-size: 14px; line-height: 20px; padding: 0 0 15px; font-family: 'Work Sans', Arial, Helvetica, sans-serif;">
                        <li style="width: 100%; float: left; line-height: inherit; list-style-type: none; background: #f7f7f7;">
                            <strong style="width: 50%; float: left; padding: 10px; color: #333; font-weight: 400; -webkit-box-sizing: border-box; -moz-box-sizing: border-box; box-sizing: border-box;">Password:</strong>
                            <span style="width: 50%; float: left; padding: 10px; -webkit-box-sizing: border-box; -moz-box-sizing: border-box; box-sizing: border-box;"><%=password%></span>
                        </li>
                    
                    </ul>
                    
                </div>

                <div style="width: 100%; float: left; padding: 15px 0 0; -webkit-box-sizing: border-box; -moz-box-sizing: border-box; box-sizing: border-box;">
                    <div style="float: left; border-radius: 5px; overflow: hidden; -webkit-box-sizing: border-box; -moz-box-sizing: border-box; box-sizing: border-box;">
                        <img style="display: block;" src="http://52.14.228.208:2000/images/mail/img-02.jpg" alt="image description">
                    </div>
                    <div style="overflow: hidden; padding: 0 0 0 20px; -webkit-box-sizing: border-box; -moz-box-sizing: border-box; box-sizing: border-box;">
                        <p style="margin: 0 0 7px; font-size: 14px; line-height: 14px; color: #919191; -webkit-box-sizing: border-box; -moz-box-sizing: border-box; box-sizing: border-box;">Regards</p>
                        <h2 style="font-size: 18px; line-height: 18px; margin: 0 0 5px; -webkit-box-sizing: border-box; -moz-box-sizing: border-box; box-sizing: border-box; color: #333; font-weight: normal;font-family: 'Work Sans', Arial, Helvetica, sans-serif;">Bukate Support Team</h2>
                        <p style="margin: 0 0 7px; font-size: 14px; line-height: 14px; color: #919191; -webkit-box-sizing: border-box; -moz-box-sizing: border-box; box-sizing: border-box;">040-123233 | hola@bukate.com</p>
                        <p style="margin: 0; font-size: 14px; line-height: 14px; -webkit-box-sizing: border-box; -moz-box-sizing: border-box; box-sizing: border-box;"></p>
                    </div>
                </div>
            </div>
        </div>
        <footer style="width: 100%; float: left; background: #333; padding: 15px; text-align: center; -webkit-box-sizing: border-box; -moz-box-sizing: border-box; box-sizing: border-box;">
            <ul style="margin: 0; width: 100%; float: left; overflow: hidden; list-style: none; padding: 0 0 15px; text-align:center; line-height: 30px;">
                <li style="padding: 0 4px; vertical-align: top; display: inline-block; line-height: inherit; list-style-type: none;">
                    <a style="background:#3b5999; width:30px; height:30px; color: #fff; display:block; overflow:hidden; line-height: 30px; position:relative; text-align: center; border-radius: 30px; text-transform:capitalize;" href="javascript:void(0);"><img src="http://52.14.228.208:2000/images/mail/icon-01.png" alt="image description"></a>
                </li>
                <li style="padding: 0 4px; vertical-align: top; display: inline-block; line-height: inherit; list-style-type: none;">
                    <a style="background:#55acee; width:30px; height:30px; color: #fff; display:block; overflow:hidden; line-height: 30px; position:relative; text-align: center; border-radius: 30px; text-transform:capitalize;" href="javascript:void(0);"><img src="http://52.14.228.208:2000/images/mail/icon-02.png" alt="image description"></a>
                </li>
                <li style="padding: 0 4px; vertical-align: top; display: inline-block; line-height: inherit; list-style-type: none;">
                    <a style="background:#0077B5; width:30px; height:30px; color: #fff; display:block; overflow:hidden; line-height: 30px; position:relative; text-align: center; border-radius: 30px; text-transform:capitalize;" href="javascript:void(0);"><img src="http://52.14.228.208:2000/images/mail/icon-03.png" alt="image description"></a>
                </li>
                <li style="padding: 0 4px; vertical-align: top; display: inline-block; line-height: inherit; list-style-type: none;">
                    <a style="background:#dd4b39; width:30px; height:30px; color: #fff; display:block; overflow:hidden; line-height: 30px; position:relative; text-align: center; border-radius: 30px; text-transform:capitalize;" href="javascript:void(0);"><img src="http://52.14.228.208:2000/images/mail/icon-04.png" alt="image description"></a>
                </li>
                <li style="padding: 0 4px; vertical-align: top; display: inline-block; line-height: inherit; list-style-type: none;">
                    <a style="background:#ff6600; width:30px; height:30px; color: #fff; display:block; overflow:hidden; line-height: 30px; position:relative; text-align: center; border-radius: 30px; text-transform:capitalize;" href="javascript:void(0);"><img src="http://52.14.228.208:2000/images/mail/icon-05.png" alt="image description"></a>
                </li>
            </ul>
            <p style="font-size: 13px; line-height: 13px; color: #aaaaaa; margin: 0; -webkit-box-sizing: border-box; -moz-box-sizing: border-box; box-sizing: border-box;">Copyright &copy; 2018 All Rights Reserved - bukate.com</p>
        </footer>
    </div>
</body>
</html>
