<html>
<head>
<title>Citizen Email</title>
</head>
<body style="font-family:calibri; font-size:17px; background-color:#F9FCF7;">

 <div align="center">
<div style="height: 75px;"><img src="http://localhost:4300/app/myRequestImages/images/attachments/header.png" style="width: 775px;">
</div><div style="border:2px solid #004C7F;border-bottom-color: #004C7F; color:black;border-color:#004C7F;width:771px;">
<div style="padding-left:80px; padding-right:80px;" align="left">
<p style="color: black;font-size:17px; font-family:Calibri;" >
Dear Swathi,<br><br>
 This is regarding the new request <%=request.request_id%>.
 <br>
 
 <div style="background-color:#d3d3d3; height: 190px; width:570px;">
 	<div style="margin-left: 20px;">
	 	<p><span style="font-size:30px"><%=request.title%></span> - <span style="font-size:20px"><%=request.location%></span></p>
	 	<p>Description : <%=request.description%></p>
 	</div>
 	
 </div>
 
 </br>
 Please contact us you at OSIBTBTatyourservice@gmail.com for any queries/assistance.
 <br><br><br>
 <span style="font-size:17px">Sincerely,</span><br>
 <span style="font-size:17px">myVoiceToday Team</span><br>
 <span style="font-size:17px">Email: <a href="http://www.osi-tech.com/index.html">OSIBTBTatyourvoice@gmail.com</a></span><br>
</div>
</br></br>
</div>


<div style="background-color:#0089D1;height:10%;width:773px; border:1px solid #004C7F;border-bottom-color: #3579DC;">
		<p style="text-align:center;margin-top: 20px"><Strong>Note:</Strong>
This is a system generated mail so please do not reply to this email.</p>
</div>
 </div>
</body>
</html>